<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>
        {% set titleBlock = block("title") %}
        {% if titleBlock is not empty %}
            {% block title %}{% endblock %} |
        {% endif %}
        Imaginaire en tous genres
    </title>
    <meta name="description" content="Les Éditions Musidora, l'imaginaire au sens large, littérature, cinéma, bande-dessinée, arts graphiques, textes rares et méconnus">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, intial-scale=1">

    {% include "layout:_assets_css.html.twig" %}

    <link rel="stylesheet" href="https://use.typekit.net/oyw2kno.css">
    <link rel="stylesheet" href="/theme/styles.css?{{ app.currentSite.getOption('assets_version') }}" />
    <link rel="icon" type="image/svg+xml" href="/media/theme/favicon.svg">
    <link rel="icon" type="image/png" href="/media/theme/favicon.png">

    <link rel="alternate" type="application/rss+xml" title="Les dernières parutions du catalogue" href="{{ path('feed_catalog') }}">

    {% include "layout:_analytics.html.twig" %}
</head>
<body>
{% include "layout:_overall_menu.html.twig" %}
{% include "layout:_flash_messages.html.twig" %}

<!-- Header -->
<div class="container">
    <header class="grid">
        <a class="header-logo" href="/">
            <picture>
                <source media="(max-width:599px)" srcset="/media/theme/logo-noir-vertical.svg">
                <img class="logo" src="/theme/logo-noir-horiz.svg" alt="MUSIDORA">
            </picture>
        </a>
        <nav class="navigation">
            <ul>
                <li>
                    <a href="/rayon/boutique"> Boutique</a>
                </li>
                <li>
                    <a href="/pages/a-propos">À&nbsp;propos</a>
                </li>
                <li>
                    <a href="/articles/search"><i class="fa-solid fa-magnifying-glass"></i></a>
                </li>
            </ul>
        </nav>
        <div class="panier">
            {{ cart_status()|raw }}
        </div>
    </header>

    {% block main %}{% endblock %}

    <!-- Footer -->

    <footer class="grid">
        <h6 class="coordonnees">Coordonnées</h6>
        <address class="footer-content adresse">
            <p>Les Éditions Musidora</p>
            <p>Rue des Sources</p>
            <p>Sentier de la Planche</p>
            <p>59213 Bermerain</p>
            <p>FRANCE</p>
            <a href="mailto:musidora.editions@gmail.com">musidora.editions@gmail.com</a>
            <div class="footer-icons">
                <a href="https://www.facebook.com/editionsmusidora">
                    <i class="fa-brands fa-square-facebook fa-2x mr-2"></i>
                </a>
                <a href="https://www.instagram.com/musidora_editions/" class="instagram-icon">
                    <i class="fa-brands fa-square-instagram fa-2x mr-2"></i>
                </a>
                <a href="{{ path('feed_index') }}">
                    <i class="fa-solid fa-rss-square fa-2x"></i>
                </a>
            </div>
        </address>
        <h6 class="plan">Plan du site</h6>
        <div class="footer-content sitemap">
            <p><a href="/">Accueil</a></p>
            <p><a href="/rayon/boutique">Boutique</a></p>
            <p><a href="/pages/a-propos">À propos de nous</a></p>
            <p><a href="/pages/mentions-legales">Mentions légales</a></p>
            <p><a href="/pages/cgv">Conditions générales de vente</a></p>
            <p><a href="/contact/">Contact</a></p>
        </div>
        <div class="footer__logo">
            <img src="/theme/logo-noir-vertical.svg" alt="MUSIDORA">
        </div>
            <!-- <h6 class="compte">Mon compte</h6>
            <div class="login">
                <p class="axys">Axys</p>
                <ul>
                    <li><a href="https://axys.me/login/?return_url=https://musidora.biblys.fr/admin/">Connexion</a></li>
                    <li><a href="https://axys.me/login/#Inscription">Créer un compte</a></li>
                </ul>
                <p>Le reseau Axys regroupe des éditeurs et des libraires. Pour passer commande, connectez-vous à votre compte Axys</p>
            </div> -->
        </div>
        <div class="copyright">
            copyright 2022 Les Éditions Musidora

            <p class="powered-by">
              propulsé par <a href="https://biblys.org">biblys</a> · logiciel libre
            </p>
        </div>
    </footer>
</div>

{% include "layout:_assets_js.html.twig" %}

</body>
</html>
